export(
  gsMMD,
  gsMMD.default,
  gsMMD2,
  gsMMD2.default,
  errRates,
  plotHistDensity,
  obtainResi
)

useDynLib(GeneSelectMMD, .registration = TRUE)

import(Biobase)

importFrom(MASS,
          ginv)

importFrom(graphics,
          hist,
          legend,
          lines,
          plot,
          title)

importFrom(stats,
          cor,
          dnorm,
          qqnorm,
          sd,
          t.test,
          var,
          wilcox.test,
          model.matrix)

importFrom("stats", "optimize")

importFrom(limma,
          lmFit,
          eBayes)


